/* DailyMealSummary.css */
.meal-summary {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meal-summary h2 {
  color: #333;
  
  margin-bottom: 30px;
  font-size: 28px;
}


.meal-summary a {
  color: #000000;
  margin-bottom: 40px;
  font-size: 1.3em;
}


.meal-summary table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.meal-summary th {
  /* background-color: #f2f2f2; */
  padding: 15px;
  text-align: left;
  /* border-bottom: 2px solid #ddd; */
  font-weight: bold;
  text-align: center;
}

.meal-summary td {
  padding: 15px;
  
  /* border-bottom: 1px solid #ddd; */
}
.meal-summary tbody td:not(:first-child) {
  text-align: center;
}

.meal-summary tr:last-child td {
  border-bottom: none;
  
}

.meal-summary .total-row {
  font-weight: bold;
  background-color: #f9f9f9;
}

.meal-summary button {
  display: block;
  /* margin: 0 auto; */
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top:35px ;
  cursor: pointer;
  font-size: 16px;
}

.meal-summary button:hover {
  background-color: #45a049;
}


/* Responsive adjustments */
@media (max-width: 600px) {
  .meal-summary {
    padding: 10px;
  }
  
  .meal-summary th, 
  .meal-summary td {
    padding: 8px 5px;
    font-size: 14px;
  }
  
  .meal-summary th::after,
  .meal-summary .total-row td::before {
    content: "" !important;
  }
}

.order-details-box {
  margin-top: 30px;
  padding: 20px;
  border-radius: 12px;
  background-color: #f5f8fa;
  
  
}

.order-details-box h3 {
  margin-bottom: 12px;
  color: #2c3e50;
}

.order-details-box ul {
  list-style-type: disc;
  padding-left: 20px;
}

.order-details-box li {
  margin-bottom: 6px;
  color: #333;
}
