.food-popup-container {
  position: absolute;
  top: 14em;
  right: 20px;
  z-index: 1000;
}

.popup-icon {
  
  width: 50px;
  height: 50px;
  background-color: #2ecc71;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup-icon:hover {
  transform: scale(1.1);
  
}

.popup-content {
  position: absolute;
  top: 48px;
  right: 48px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0,0.2);
  width: 250px;
}

.popup-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.popup-content table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.popup-content th,
.popup-content td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
